<!DOCTYPE html>
<html>
  <head>
    <title>Transaction Reconciliation</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/js/bootstrap.min.js"></script>-->
    <!-- SmartMenus jQuery plugin -->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/jquery.smartmenus.js"></script>-->
    <!-- SmartMenus jQuery Bootstrap Addon --> 
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0-beta1/addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>-->

      <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->







  </head>
<body>
<nav class="navbar navbar-default navbar-static-top marginBottom-0 class="paddingRight-10 role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<div class="navbar-header"> -->
      <a class="navbar-brand" href="/">Transaction Reconciliation</a>
    <!--</div>-->
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <% if ( !currentUser) { %>
        <li><a  href="/TransRecon/login">Login</a></li>
        <li ><a  href="/TransRecon/signup">Signup</a></li>
      <%} else { %>
       <!--   
        <li class="dropdown li_margin"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/TransRecon/transactions">Browse all Transactions</a></li>
            <li><a href="/TransRecon/transactions/unrecon">Browse Unreconciled Transactions</a></li>
            <li><a href="/TransRecon/transactions/byacct">Browse Transactions by Account</a></li>
            <li><a href="/TransRecon/transactions/bydesc">Browse Transactions by merchant</a></li>
          </ul>
        </li>
        -->
        <li class="dropdown li_margin"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registers & Plans<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/TransRecon/register">Browse All Register Items</a></li>
            <li><a href="/TransRecon/register/unrecon">Browse Unreconciled Register Items</a></li>
            <li><a href="/TransRecon/register/new">New Register Item</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/TransRecon/plan">Browse Plans</a></li>
            <li><a href="/TransRecon/plan/new">New Plan</a></li>
            
          </ul>
        </li>
        
        <li class="dropdown li_margin"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Balances<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/TransRecon/balances/recon">Browse Bank Accounts</a></li>
            <li><a href="/TransRecon/balances/invest">Investment Accounts</a></li>
            <li><a href="/TransRecon/balances">Browse All Accounts</a></li>                 
          </ul>
        </li>
        <li class="dropdown li_margin"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Match<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/TransRecon/match">non-Reconciled Only</a></li>
            <li><a href="/TransRecon/match/all">All Transactions</a></li>
          </ul>
        </li>
        <li class="dropdown li_margin"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/TransRecon/reports/bldRegReports">Register Reports</a></li>
            <li><a href="/TransRecon/reports/bldTransReports">Transactions Reports</a></li>
            <li><a href="/TransRecon/reports/bldSummaryReports">Summary Reports</a></li>
          </ul>
        </li>
        <li><a href="#">Signed in as <%= currentUser.firstName %></a></li>
        <li><a href="/TransRecon/logout">Logout</a></li>
      <% } %>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>

<script language="javascript">
  function autoResizeDiv()
    { 
    //var height = Math.round(((window.innerHeight-200)/window.innerHeight)*100); 
    var height = window.innerHeight-235;
    for (i = 0; i < document.getElementsByTagName('tbody').length; i++) { 
      document.getElementsByTagName('tbody')[i].style.height=(height +'px');
      str = JSON.stringify(document.getElementsByTagName('tbody'), null, 4); // (Optional) beautiful indented output.
      console.log("Height = " + height); // Logs output to dev tools console.   
      }
    }

    window.onresize = autoResizeDiv;
    window.onpageshow = autoResizeDiv;
    autoResizeDiv();
</script>
