<% include ./partials/header %>

<div class="container">
    <div class="row>">
        <h2 style="text-align: center;">Login</h2>
        
        <div class="container login">
            <form action="/TransRecon/login" method="POST">
                <div class="form-group"> <!--
                    <div class="form-group">
                        <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="password">
                    </div> -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" autofocus placeholder="Username">
                    </div>
 
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
 
                    <div class="form-group">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>